Register "libp2p" ALPN with IANA

In order to safely use the "libp2p" ALPN with TLS connections, we should register it with IANA.

> Registration requests should be sent to the mailing list described 
in [[RFC 8447, Section 17](https://www.rfc-editor.org/rfc/rfc8447.html#section-17)]. If approved, designated experts should 
notify IANA within three weeks. For assistance, please contact 
iana@iana.org.

https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids
