Libp2p TLS spec does not adhere to RFC 5280 for issuer and subject fields

## Description
The current libp2p TLS specification does not require the issuer and subject fields in the X.509 certificates, which is a requirement according to RFC 5280. Specifically, the spec mentions that the certificate MUST omit the deprecated subjectUniqueId and issuerUniqueId fields, but does not address the necessity for the issuer and subject fields.

RFC 5280, Section 4.1.2.4 and 4.1.2.6 specify that:

- The issuer field MUST be present and MUST contain a non-empty distinguished name (DN).
- The subject field MUST be present and MUST contain a non-empty DN.

Additionally, this discrepancy causes issues when using parser libraries that strictly follow RFC 5280. For example, it's not possible to parse the certificate `3082018230820128a003020102020900f3b305f55622cfdf300a06082a8648ce3d04030230003020170d3735303130313030303030305a180f34303936303130313030303030305a30003059301306072a8648ce3d020106082a8648ce3d0301070342000458f7e9581748ff9bdd933b655cc0e5552a1248f840658cc221dec2186b5a2fe4641b86ab7590a3422cdbb1000cf97662f27e5910d7569f22feed8829c8b52e0fa38188308185308182060a2b0601040183a25a01010101ff0471306f042508021221026b053094d1112bce799dc8026040ae6d4eb574157929f1598172061f753d9b1b04463044022040712707e97794c478d93989aaa28ae1f71c03af524a8a4bd2d98424948a782302207b61b7f074b696a25fb9e0059141a811cccc4cc28042d9301b9b2a4015e87470300a06082a8648ce3d04030203480030450220143ae4d86fdc8675d2480bb6912eca5e39165df7f572d836aa2f2d6acfab13f8022100831d1979a98f0c4a6fb5069ca374de92f1a1205c962a6d90ad3d7554cb7d9df4` defined in the tests using such a library.

## Steps to Reproduce

- Review the [libp2p TLS specification](https://github.com/libp2p/specs/blob/master/tls/tls.md).
- Compare with the requirements in [RFC 5280](https://tools.ietf.org/html/rfc5280).

## Expected Behavior
The libp2p TLS spec should require the issuer and subject fields to be present and contain non-empty DNs, in compliance with RFC 5280.

## Suggested Solutions

- Update the libp2p TLS spec to require issuer and subject fields.
- Provide guidance on how to populate these fields in the context of libp2p.

## Additional Information

[RFC 5280 - Section 4.1.2.4](https://tools.ietf.org/html/rfc5280#section-4.1.2.4)
[RFC 5280 - Section 4.1.2.6](https://tools.ietf.org/html/rfc5280#section-4.1.2.6)

@marten-seemann your input here would be highly appreciated.

Does your testing library fail with certificates generated by go-libp2p? I think we fixed this a while ago: https://github.com/libp2p/go-libp2p-tls/pull/100

Can confirm that the test vectors do not contain the required Issuer and Subject fields, which as @diegomrsantos described in the issue, causes libraries like MbedTLS to fail to parse a certificate.

Go-libp2p however does generate the certificate correctly as I was able to read the fields with openssl. It's only the spec that contains invalid certificates.

```
openssl x509 -inform DER -in certificate.der -text -noout
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 615439604171976618 (0x88a7b0f2b60afaa)
        Signature Algorithm: ecdsa-with-SHA256
        Issuer: serialNumber = 4092641270698899544
        Validity
            Not Before: Mar 18 19:16:53 2025 GMT
            Not After : Feb 22 20:16:53 2125 GMT
        Subject: serialNumber = 4092641270698899544
        Subject Public Key Info:
            Public Key Algorithm: id-ecPublicKey
                Public-Key: (256 bit)
                pub:
                    04:aa:7a:91:77:ea:95:f6:3d:36:ff:6f:49:a2:93:
                    2b:90:39:43:f4:4b:82:22:23:21:88:4b:82:4a:04:
                    f4:3c:bb:4f:e7:01:e9:42:4e:5d:2c:14:b1:22:d4:
                    13:ee:7b:a8:8d:ca:62:66:98:27:b0:5f:c3:25:12:
                    14:3c:84:04:18
                ASN1 OID: prime256v1
                NIST CURVE: P-256
        X509v3 extensions:
            1.3.6.1.4.1.53594.1.1: 
...&..m"..;...%`.Vnl!!...@}.{s..........L1...G0E.!..M.d]lG.b...8..vI..........+...<. bg..0...5..x.V~..o+..p..8.P..@..
    Signature Algorithm: ecdsa-with-SHA256
    Signature Value:
        30:46:02:21:00:ee:84:80:33:ad:3c:55:41:a1:e1:2c:68:82:
        de:ec:92:53:9c:53:6e:a2:5d:5a:ab:51:4f:0d:7e:70:51:27:
        9a:02:21:00:86:02:8d:8c:f8:c3:1e:b2:6b:24:41:5b:6c:28:
        0d:90:d1:2d:85:21:91:f9:a0:e5:9d:51:f1:08:7c:da:bd:1d
```

Do note the issuer and subject contains the following:
```
Issuer: serialNumber = 4092641270698899544
Subject: serialNumber = 4092641270698899544
```
